{% from metabook.config import metabook_config %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{lpath}} - Metabook</title>
    <meta name="description" content="">
    <meta name="author" content="ink, cookbook, recipes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico and apple-touch-icon(s) here  -->

    <link rel="shortcut icon" href="/static/css/favicon.ico">

    <link rel="apple-touch-icon" href="/static/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/touch-icon-ipad-retina.png">
    <link rel="apple-touch-startup-image" href="/static/img/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/static/img/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/static/img/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

    <!-- load Ink's CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/ink-flex.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

    <!-- load Ink's CSS for IE8 -->
    <!--[if lt IE 9 ]>
    <link rel="stylesheet" href="/static/css/ink-ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <!-- test browser flexbox support and load legacy grid if unsupported -->
    <script type="text/javascript" src="/static/libjs/modernizr.js"></script>
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.flexbox,
            nope : '/static/css/ink-legacy.min.css'
        });
    </script>

    <!-- load Ink's javascript files -->
    <script type="text/javascript" src="/static/libjs/holder.js"></script>
    <script type="text/javascript" src="/static/libjs/ink-all.min.js"></script>
    <script type="text/javascript" src="/static/libjs/autoload.js"></script>


    <style type="text/css">

        body {
            background: #ededed;
        }

        header h1 small:before  {
            content: "|";
            margin: 0 0.5em;
            font-size: 1.6em;
        }

        footer {
            background: #ccc;
        }

    </style>

    {% end %}

    {% block customhead %}


    {% end %}

</head>


    <body>

        <div class="ink-grid">

            <!--[if lt IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
            <![endif]-->

            <!-- Add your site or application content here -->

{% block header %}

            <header class="vertical-space">

                {% block header_title %}
                <h1>Metabook<small>{{lpath}}</small></h1>
                {% end %}

                <nav class="ink-navigation">
                    <ul class="menu horizontal black">
                        {% block header_nav %}
                        <li class="active"><a href="#">Tree</a></li>
                        <li><a href="#">New Graph</a></li>
                        <li><a href="#">Manage Graphs</a></li>
                        {% end %}
                    </ul>
                </nav>
            </header>

{% end %}

{% block content %}

            <div class="column-group gutters">
                <div class="all-100">
                    <h2>heading</h2>
                    <img src="/static/libjs/holder.js/1650x928/auto/ink" alt="">
                </div>
            </div>

{% end %}

        </div>

{% block footer %}

        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                    <li class="active"><a href="#">About Metabook</a></li>
                    <li><a href="#">Fork on Github</a></li>
                </ul>
                <p class="note">Copyright (c) 2016 </p>
            </div>
        </footer>

{% end %}

    </body>
</html>
