{% extends "base.html" %}

{% block head_scripts %}
<link rel="stylesheet" type="text/css" href="/static/ink/css/ink-flex.min.css" />

<style type="text/css">

    body {
        background: #ededed;
    }

    header h1 small:before  {
        content: "|";
        margin: 0 0.5em;
        font-size: 1.6em;
    }

    footer {
        background: #ccc;
    }
</style>
<!-- load Ink's javascript files -->
<script type="text/javascript" src="/static/ink/js/holder.js"></script>
<script type="text/javascript" src="/static/ink/js/ink-all.min.js"></script>
<script type="text/javascript" src="/static/ink/js/autoload.js"></script>
{% end %}

{% block head_custom %}
{% end %}

{% block body %}
    <body>
        <div class="ink-grid">

    {% block body_header %}

            <header class="vertical-space">

                {% block header_title %}

                {% end %}

                <nav class="ink-navigation">
                    <ul class="menu horizontal black">

                        {% block header_nav %}
                        <li class="active"><a href="#">Tree</a></li>
                        <li><a href="#">New Graph</a></li>
                        <li><a href="#">Manage Graphs</a></li>
                        {% end %}

                    </ul>
                </nav>
            </header>

    {% end %}

    {% block body_content_ink %}

            <div class="column-group gutters">
                <div class="all-100">

                </div>
            </div>

    {% end %}

        </div>

    {% block body_footer %}

    {% end %}

{% end %}

