{% extends "base.html" %}

{% block head_scripts %}

<link rel="stylesheet" type="text/css" href="/static/semantic/semantic.css" />

<style type="text/css">

    body {
        background: #ededed;
    }

    header h1 small:before  {
        content: "|";
        margin: 0 0.5em;
        font-size: 1.6em;
    }

    footer {
        background: #ccc;
    }
</style>

<!--<link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />-->
<link rel="stylesheet" type="text/css" href="/static/css/metabook.css" />

<link rel="stylesheet" type="text/css" href="/static/css/joint.css" />
<link rel="stylesheet" type="text/css" href="/static/css/joint.ui.selectionView.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

<script src="/static/joint/jquery.js"></script>
<script src="/static/joint/lodash.min.js"></script>
<script src="/static/joint/backbone.js"></script>
<script src="/static/joint/joint.js"></script>
<script src="/static/joint/joint.ui.selectionView.js"></script>
<script src="/static/semantic/semantic.js"></script>


<!--<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>-->

<script src="/static/js/ui.js"></script>
<script src="/static/js/graph_jointjs.js"></script>
<script src="/static/js/graph.js"></script>
<script language="JavaScript">
    var metabook = {
        root: "{{root}}",
        file_api_endpoint: "{{root}}/{{metabook_config.routes.api.file}}/",
        file_id: "{% if 'new' in request.arguments %}{% else %}0123456789{% end %}",
        path: "{{uri}}"
    }
</script>

{% end %}

{% block body %}

{% end %}