{% from metabook.config import metabook_config %}

<!DOCTYPE html>
<html lang="en">

<head>

{% block head %}
    <meta charset="utf-8">
    <title>{{lpath}} - Metabook</title>
    <meta name="description" content="">

    <link rel="shortcut icon" href="/static/css/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />

    {% block head_scripts %}
    {% end %}

{% end %}

{% block head_custom %}
{% end %}

</head>

{% block body %}
{% end %}

</html>
