{% extends "base_graph.html" %}

{% block head_custom %}


<script src="/static/js/graph_jointjs.js"></script>
<script src="/static/js/graph.js"></script>
<script language="JavaScript">
    var metabook = {
        root: "{{root}}",
        file_api_endpoint: "{{root}}/{{metabook_config.routes.api.file}}/",
        file_id: "{% if 'new' in request.arguments %}{% else %}0123456789{% end %}",
        path: "{{uri}}"
    }
</script>
{% end %}

{% block header_nav_semantic %}
<div class="item"><a href="{{root}}/{{metabook_config.routes.tree}}"><span class="fa fa-home"></span> Home</a></div>
<div class="item"><a href="{{root}}/{{metabook_config.routes.tree}}/{{level_up_path}}"><span class="fa fa-folder-open-o"></span> To folder</a></div>
<div class="item"><a href="{{root}}/{{metabook_config.routes.tree}}"><span class="fa fa-gear"></span> Manage server</a></div>
{% end %}

{% block header_title %}
<div class="item"><h3>{{lpath}}</h3></div>
{% end %}

{% block body_content_semantic %}
<div class="ui two column relaxed padded grid">

    <div class="ui two wide column" id="uiLeftTable">
        <table class="ui celled table">
        <tbody>
        <tr>
           <td><span class="fa fa-code-fork"></span> {{data}}</td>
        </tr>
        <tr>
           <td><span class="fa fa-code-fork"></span> <div class="ui label" id="el_file_contents"></div></td>
        </tr>

        </tbody>
        </table>

        <div class="ui vertical buttons">
        <button class="ui button" id="bConnect">
        Connect to kernel
        </button>
        <button class="ui disabled button" id="bSend">
        Send data
        </button>
        <button class="ui button" id="bTest1">
        Test Scope
        </button>
        <button class="ui disabled button" id="bClose">
        Close connection
        </button>
        </div>

        <div id="messages" class="ui info message"></div>
    </div>

    <div class="ui four wide column">
        <div id="myholder"></div>
    </div>
</div>

{% end %}
