{% extends "base.html" %}

{% block customhead %}
<link rel="stylesheet" type="text/css" href="/static/css/joint.css" />

<link rel="stylesheet" type="text/css" href="/static/semantic/semantic.css" />

<script src="/static/joint/jquery.js"></script>
<script src="/static/joint/lodash.min.js"></script>
<script src="/static/joint/backbone.js"></script>
<script src="/static/joint/joint.js"></script>


<script src="/static/semantic/semantic.js"></script>



{% end %}

{% block header_title %}
<h1>{{lpath}}</h1>
{% end %}

{% block header_nav %}
<li><a href="{{root}}/{{metabook_config.routes.tree}}"><span class="fa fa-home"></span> Home</a></li>
<li><a href="{{root}}/{{metabook_config.routes.tree}}/{{level_up_path}}"><span class="fa fa-folder-open-o"></span> To Folder</a></li>
<li><a href="#">Manage Graphs</a></li>
{% end %}

{% block content %}

  <div class="column-group horizontal-gutters">
    <div class="all-30">
        <table class="ink-table bordered hover">
            <tbody>
            <tr>
               <td onclick="window.location='#'"><span class="fa fa-code-fork"></span> {{data}}</td>
            </tr>
            </tbody>
        </table>
        <br>

        <button class="ui button" id="bConnect" style="margin: 3px; width: 150px">
            Connect to kernel
        </button><br>
        <button class="ui button" style="margin: 3px; width: 150px">
            Send changes
        </button><br>
        <button class="ui button" style="margin: 3px; width: 150px">
            Sync
        </button><br>
        <button class="ui button" style="margin: 3px; width: 150px">
            Connect to kernel
        </button><br>

        <div id="messages" class="ui info message" style="height:200px;"></div>

    </div>

    <div class="all-70">
          <div id="myholder" style="height: 300px; border: 1px #d0c7b7 solid; background: #e0dacf;"></div>
    </div>
  </div>

<script src="/static/js/graph_jointjs.js"></script>
<script src="/static/js/graph.js"></script>


{% end %}