{% extends "base_graph.html" %}
{% autoescape xhtml_escape %}
{% block body %}
<body style="overflow: hidden">



<div class="ui top inverted menu">
        <a class="item" id="uiMenuToggle"><i class="fa fa-list"></i>&nbsp;Menu</a>
        <a class="item" href="{{protocol}}://{{root}}/{{metabook_config.routes.tree}}/{{level_up_path}}"><span class="fa fa-folder-open-o"></span>&nbsp;To folder</a>
        <a class="item" data-action="model:save"><span class="fa fa-save"></span>&nbsp;Save</a>
        <a class="item" data-action="model:solve"><span class="fa fa-play"></span>&nbsp;Solve All</a>
        <a class="item" href="{{protocol}}://{{root}}/{{metabook_config.routes.tree}}"><span class="fa fa-gear"></span>&nbsp;Servers</a>
        <div class="item"><h3>{{lpath}}</h3></div>
</div>

<div class="pushable" style="height: 100%; width: 100%; overflow: hidden" id="id2">

    <div class="ui dimmer">
        <div class="ui text loader">Loading Graph data from {{root}}...</div>
    </div>


    <div class="ui sidebar" id="uiLeftSidebar">
    <div id="uiLeftTable">
        <table class="ui celled table">
        <tbody>
        <tr>
           <td><span class="fa fa-code-fork"></span></td>
        </tr>
        <tr>
           <td><span class="fa fa-code-fork"></span> <div class="ui label" id="el_file_contents"></div></td>
        </tr>

        </tbody>
        </table>

        <div class="ui vertical buttons">
        <button class="ui button" id="bConnect">
        Connect to kernel
        </button>
        <button class="ui disabled button" id="bSend">
        Send data
        </button>
        <button class="ui button" id="bTest1">
        Test Scope
        </button>
        <button class="ui disabled button" id="bClose">
        Close connection
        </button>
        </div>

        <div id="messages" class="ui info message"></div>
        <div id="coords" class="ui info message"></div>
    </div>
    </div>





        <!-- ну или так, не паримся
        <div class="ui vertical fixed left menu">
        <button class="ui button" id="bConnect2">
        Connect to kernel
        </button>
        <button class="ui disabled button" id="bSend2">
        Send data
        </button>
        </div>
         -->

    <div id="paper_holder" class="pusher" style="height: 100%; width: 100%;">
        <div id="myholder" style="overflow: hidden"></div>
    </div>


</div>


<div id="context-menu" class="ui small vertical borderless menu context-menu">

        <a href="#" class="item" data-action="View"><i class="fa fa-eye"></i> Duplicate <div class="ui small inverted label">Ctrl+D</div></a>

        <a href="#" class="item" data-action="Edit" style="display:none"><i class="fa fa-edit"></i> Edit <div class="ui label">Ctrl+E</div></a>

        <a href="#" class="item" data-action="Delete"><i class="fa fa-times"></i> Delete <div class="ui small inverted label">Ctrl+D</div></a>

</div>

<div id="context-menu2" class="ui small vertical borderless menu context-menu">
        <a href="#" class="item" data-action="Add"><i class="fa fa-edit"></i> Add Node <div class="ui small basic label">Ctrl+D</div></a>
</div>

<!--<script src="/static/libjs/context.js"></script>-->
</body>

{% end %}

