{% extends "base.html" %}

{% block content %}

<table class="ink-table bordered hover">
    <thead>
    <tr>
        <th class="align-left">{{lpath}}</th>
    </tr>
    </thead>
    <tbody>

    <tr>
       <td onclick="window.location='{{root}}{{rbase}}'"><span class="fa fa-home"></span> Home </td>
    </tr>
    <tr>
       <td onclick="window.location='{{root}}{{rbase}}{{level_up_path}}'"><span class="fa fa-folder-open-o"></span> ..</td>
    </tr>

    {% for dirname in dirlist %}

    <tr>
       <td onclick="window.location='{{root}}{{rbase}}{{uri}}/{{dirname}}'"><span class="fa fa-folder-open"></span> {{dirname}}</td>
    </tr>

    {% end %}

    {% for filename in filelist %}

    <tr>
       <td onclick="window.location='{{root}}/{{metabook_config.routes.file}}{{uri}}/{{filename}}'"><span class="fa fa-file-code-o"></span> {{filename}}</td>
    </tr>

    {% end %}

    </tbody>
</table>

{% end %}